@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("http://127.0.0.1:8000/static/background.png"), linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    background-attachment: fixed;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: minmax(150px, 440px);
    font-family: 'Montserrat', sans-serif;
}

#wrapper {
    text-align: center;
    padding: 20px;
}


#text {
    background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    width: 275px;
    margin-right: auto;
    min-width: 70px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 3px;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
}

img {
    border: 5px solid white;
    border-radius: 5px;
}

#video {
    border: 3px solid white;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: inherit;
}

#photo {
    border: 3px solid white;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: inherit;
    appearance: none;
    cursor: pointer;
}

#canvas {
    display: none;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: auto;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 3px;
    background: #404653;
    color: #fff;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}


#startbutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 32px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 3px;
    background: #404653;
    color: #fff;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
}



