* {
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.76)), url("https://previews.123rf.com/images/franzidraws/franzidraws1604/franzidraws160400049/55801444-hand-drawn-seamless-pattern-of-italian-style-houses.jpg");
    background-position: center center;
    background-size: cover;
    height: 75vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: minmax(150px, 440px);
    font-family: 'Montserrat', sans-serif;
    max-height: 100vh;
    max-width: 100vh;
}

#wrapper {
    text-align: center;
    padding: 10px;
}

#text {
    background: white;
    width: 275px;
    margin-right: auto;
    min-width: 70px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 3px;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
}

#text1 {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.76)) ;
    width: 275px;
    margin-right: auto;
    min-width: 70px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 3px;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    color: black;
}

img {
    border: 2px solid black;
    border-radius: 5px;
}

#video {
    border: 4px solid black;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: inherit;
    height: auto;
    width: auto;
}

#photo {
    border: 4px solid black;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: inherit;
    appearance: none;
    cursor: pointer;
}

#canvas {
    display: none;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: auto;
    min-height: auto;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 20px;
    background: #000000;
    color: #fff;
    padding: 8px 16px;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    width: 400px;
}


#startbutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 32px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 20px;
    background: #000000;
    color: #fff;
    padding: 8px 16px;
    font-size: 2rem;
    cursor: pointer;
    min-width: auto;
    min-height: auto;
    width: 400px;
}


#result_taked_photo {
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: inherit;
;
}

#home {
       display: flex;
  justify-content: center;
}

#result_images {
    justify-content: center;
}

#promo {
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#result_images1{
       display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#result_images2{
       display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
