

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("https://img.freepik.com/premium-vector/city-seamless-pattern_100478-1292.jpg"), linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: minmax(150px, 440px);
    font-family: 'Montserrat', sans-serif;
}

#wrapper {
    text-align: center;
    padding: 20px;
}

#text {
    background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    width: 275px;
    margin-right: auto;
    min-width: 70px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 3px;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
}

img {
    border: 5px solid white;
    border-radius: 5px;
}

#video {
    border: 10px solid white;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: inherit;
    height: auto;
    width: auto;
}

#photo {
    border: 10px solid white;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: inherit;
    appearance: none;
    cursor: pointer;
}

#canvas {
    display: none;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: auto;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 7px;
    background: #404653;
    color: #fff;
    padding: 8px 16px;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    height: 65px;
    width: 400px;
}


#startbutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 32px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 7px;
    background: #404653;
    color: #fff;
    padding: 8px 16px;
    font-size: 2rem;
    cursor: pointer;
    height: 65px;
    width: 400px;
}

#promo {
      display: flex;
  justify-content: center;
}

#result_taked_photo {
    display: flex;
  justify-content: center;
}



